.top-bar{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
    padding: 10px;
    border-radius: 10px;
    opacity: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  .left-bar-search{
    display: flex;
    margin-bottom: 0px;
  }
  #search-bar{
    display: flex;
    align-items: center;  
    padding: 6px; 
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    width: 300px;
    opacity: 70%;
  }


  /* RIGHTSIDE */
  .right-bar-music{
    display: flex;
    margin-bottom: 0px;
  }
  #music-list-dropdown{
    display: flex;
    align-items: center;  
    padding: 6px; 
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    width: 200px;
    opacity: 70%;
  }
  #play-music{
    padding: 3px 30px; 
    border: white;
    border-radius: 6px;
    background-color: white;
    color: black;
    font-size: 13px; 
    cursor: pointer; 
    margin-right: 10px;
    opacity: 70%;
  }
  #play-music:active {
    background-color: #999;
  }