.dropdown-content a:hover {background-color: rgb(170, 189, 224);}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: rgb(99, 141, 255);}
.dropbtn {
    background-color: transparent;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown button {
    font-family: sans-serif;
    font-size: larger;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  #icon-box{
    opacity: 1;
    margin-top: 10%;
    position: absolute;
    background-color: transparent;
  }
  .icon-1{
    background: url(/web-elem/supporter.png);
  }
  .icon-2{
    background: url(/web-elem/specialist.png);
  }
  .icon-3{
    background: url(https://raw.githubusercontent.com/Aceship/Arknight-Images/main/ui/roguelike/item/relic_101.png);
  }
  .icon-4{
    background: url(https://raw.githubusercontent.com/Aceship/Arknight-Images/main/ui/roguelike/item/relic_102.png);
  }
  .icon:hover{
    background-color: rgba(255,255,255,0.5);
    border-radius: 20px;
  }
  .icon{
    border: 0px;
    display: block;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 15px;
    padding: 30;
    opacity: 0.5;
    background-color: transparent;
  }